.parent {
    width: 99.7vw;
    height: 99.63vh;
    display: inline-block;
    position:relative;
}
.backdrop {
    max-width: 100%;
    max-height: 100%;
    padding-left: 15%;
}
.backdropSide{
    position: absolute;
    max-width: 43%;
    max-height: 43%;
    top: 26%;
    left: 64.5%;
    background-color: transparent;
}
.ult {
    position: absolute;
    max-width: 28%;
    max-height: 28%;
    top: 30%;
    left: 76%;
    background-color: transparent;
}
.initiation {
    background-color: transparent;
    position: absolute;
    min-width: 40%;
    min-height: 40%;
    max-width: 40%;
    max-height: 40%;
    top: 25%;
    left: 15%;
}
.initiation2 {
    position: absolute;
    min-width: 5%;
    min-height: 1.3%;
    max-width: 5%;
    max-height: 1.3%;
    top: 31%;
    left: 23%;
}


